@model CheeseMVC.ViewModels.AddCategoryViewModel

<form>
    <input type="text"><p><a asp-controller="Category" asp-action="Add"></a></p>
    <input type="submit"><p><a asp-controller="Category" asp-action="Add"></a></p>

</form>

