@model CheeseMVC.ViewModels.ViewMenuViewModel
@{
    ViewBag.Title = "MENU NAME";
}

<h1>@Model.Menu.Name</h1>

@if (Model.Items.Count == 0)
{
    <p>No cheeses yet!</p>
}

<ul>
    @foreach(var item in Model.Items)
    {
        <li>@item.Cheese.Name</li>
    }
</ul>

<a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add an Item</a>