@model CheeseMVC.ViewModels.ViewMenuViewModel
@{
    ViewBag.Title = Model.Menu.Name;
}

<h1>@Model.Menu.Name</h1>

@if (Model.Items.Count == 0)
{
    <p>No cheeses yet!</p>
}

<ul class="list-group" style="width:70%">
    @foreach(var item in Model.Items)
    {
        <li class="list-group-item">@item.Cheese.Name</li>
    }
</ul>

<a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add an Item</a>